﻿@{
    ViewBag.Title = "Contact Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Contact us</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Contact Us</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h1>Thank you for reaching out to Habtalks.</h1>
                <p>
                    Contact us online or by phone with the details mentioned below.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="contact-location">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4 contact-block">
                    <div class="feature-icon"><i class="icon-placeholder icon-size-medium"></i></div>
                    <address>
                        <strong class="address-title">Habtalks address</strong><br>
                        245 North Spruce Street, <br>
                        libson edwood city, <br>
                        California 94061
                    </address>
                </div>
                <div class="col-md-4 contact-block">
                    <div class="feature-icon"><i class="icon-phone-call icon-size-medium"></i></div>
                    <address>
                        <strong class="address-title">Call Numbers</strong><br>
                        <div class="phone">Phone + 413-658-5373</div>
                        <div class="fax">Fax + 413-658-5373</div>
                    </address>
                </div>*@
            <div class="col-md-12 contact-block email-block">
                <div class="feature-icon"><i class="icon-envelope icon-size-medium"></i></div>
                <address>
                    <strong class="address-title">Email Address</strong><br>
                    <div class="email">
                        Email :<a href="mailto:contact@habtalks.com">contact@habtalks.com</a>
                    </div>
                </address>
            </div>
        </div>
    </div>
</div>

@*<div class="map" id="googleMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
    </div>*@