﻿@{
    ViewBag.Title = "Home Page";
}

<div class="bgded" style="background-image: url('../../images/neckpainNew.jpg');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="group">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <div class="one_half first" style="background-color: rgba(255, 255, 255, 0.01)">
                <h3>&nbsp;&nbsp;</h3>
                <h3></h3>
                <h3 class="Subheading" style="color: darkgrey">We Keep You Moving</h3>
            </div>
            <div class="one_half">
                <div class="ConsultUs" style="background-color: rgba(239, 136, 104, 0.7); border-radius: 25px;">
                    <h6></h6>
                    <form method="post" action="#">
                        <fieldset class="contactform">
                            <legend>Consult a Physio</legend>
                            <input class="btmspace-15" type="text" value="" placeholder="Name">
                            <input class="btmspace-15" type="text" value="" placeholder="Email">
                            <input class="btmspace-15" type="text" value="" placeholder="Mobile">
                            <input class="btmspace-15" type="text" value="" placeholder="Date">
                            <br />
                            <button type="submit" value="submit">Submit</button>
                            <br /><br />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ################################################################################################ -->


</div>

<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h4 class="heading">How do we help</h4>
        </div>
        <ul class="nospace group overview services">
            <li class="one_third">
                <article>
                    <a href="#"></a>
                    <h6 class="heading"></h6>
                    <p style="margin-left: 50%;">
                        <img src="../../images/LeftMove.png" style="width: 50px; height: 50px" onclick="plusDivs(-1)" />
                    </p>
                    <footer></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <div class="w3-content w3-display-container">

                        <div class="mySlides">
                            fg dfgsdf gsdfg sdfg sdfg sdfg sdfgsdfg sdfdgf sdf gsdf gsdfg
                            <br />
                            sdf asdf asd asdfa sdf asdafasdads af sdas fddfgdf dfgsd dsf
                            <br />
                        </div>
                        <div class="mySlides">
                            j jkjnxckjv hxckjv hcjkhb xkjcvhbxkjcvhbxkjcvbxcvbx<br />
                            nsuief hjkfhdsfjsdfjdfjh xc jhvkjfdhkjdjfklsd jflkasfas<br />
                            dfg sfdgsdg dsg dsfg sdf gsdg sd gsdf gd<br />
                        </div>
                    </div>

                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"></a>
                    <h6 class="heading"></h6>
                    <p style="margin-right: 50%;">

                        <img src="../../images/RightMove.jpg" style="width: 50px; height: 50px" onclick="plusDivs(-1)" />
                    </p>
                    <footer></footer>
                </article>
            </li>

        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>

<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h4 class="heading">Testimonials</h4>
        </div>
        <ul class="nospace group overview services">
            <li class="one_third">
                <article>
                    <a href="#"></a>
                    <h6 class="heading"><a href="#">testimonial 1</a></h6>
                    <p>test test test test test test test test test test test test </p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"></a>
                    <h6 class="heading"><a href="#">testimonial 2</a></h6>
                    <p>test test test test test test test test test test test test </p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"></a>
                    <h6 class="heading"><a href="#">testimonial 3</a></h6>
                    <p>test test test test test test test test test test test test test test </p>
                    <footer><a href="#">View Details &raquo;</a></footer>
                </article>
            </li>

        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>