﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">   
    <div>
        <div class="slider-img"><img src="~/Content/images/slider-1.jpg" alt="" class=""></div>
        <div class="container">
            <div class="row">
                <div class="slider-captions">
                    <!-- slider captions -->
                    <h1 class="slider-title">
                        Quality training leads to
                        <strong> excellence &amp; skilled</strong>
                        in caregiving
                    </h1>
                </div>
                <!-- /.slider captions -->
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img"><img src="~/Content/images/slider-2.jpg" alt="" class=""></div>
        <div class="container">
            <div class="row">
                <div class="slider-captions">
                    <!-- slider captions -->
                    <h1 class="slider-title">
                        Habtalks is the best in -
                        <strong>physiotherapy for seniors</strong> &amp;
                        <strong>disabled</strong>
                    </h1>
                </div>
                <!-- /.slider captions -->
            </div>
        </div>
    </div>
    <div>
        <div class="slider-img"><img src="~/Content/images/slider-3.jpg" alt="" class=""></div>
        <div class="container">
            <div class="row">
                <div class="slider-captions">
                    <!-- slider captions -->
                    <h1 class="slider-title">
                        Providing Physiotherapy Service for
                        <strong>
                            Adults, Seniors &amp; Children
                        </strong>
                    </h1>
                </div>
                <!-- /.slider captions -->
            </div>
        </div>
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title">
                <h1>How do we help?</h1>
                <p>Habtalks provides quality care for the children, adults, seniors and disabled</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="history-block">
                    <div class="history-image"> <img src="~/Content/images/history.jpg" alt="" class=""> </div>
                    <div class="line-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">STEP 1</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">STEP 2</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">STEP 3</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">STEP 4</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <h2>Registration</h2>
                                <p>Explain your injuries &amp; ailments, submit the details on our website.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <h2>Appointment</h2>
                                <p>We shall fix your appointment with the therapist for online consultation.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <h2>Consultation</h2>
                                <p>Online consultation with the Physiotherapist for Assessment &amp; Diagnosis.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                                <h2>Rehabilitation</h2>
                                <p>Receive a diagnosis &amp; Training Module with digital supervision until complete rehabilitation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-space section-color">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>Acknowledgements/How our clients raise their hats off!</h1>
                <p>
                    We are blessed to hear this from our beloved and valued patients.
                    @*What our valued clients are saying about Habtalks Services.*@
                </p>
            </div>
        </div>
        <div class="row testimonial">
            <div class="col-md-4 testimonial-block">
                <!-- testimonial block -->
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left"></i></span></div>
                    <p class="testimonial-desc">Ismat, thanks a lot! I feel much better.. I mean.. I used to wake up with pain every alternate day.. I surely feel better after the exercises you prescribed as I have been doing them on regular basis and also the pillow!</p>
                    <div class="testimonial-name"> - Kanika, <span>Pune</span></div>
                </div>
            </div>
            <!-- /.testimonial block -->
            <div class="col-md-4 testimonial-block">
                <!-- testimonial block -->
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left"></i></span></div>
                    <p class="testimonial-desc">Hi Doctor Ismat I have been following exercises and the pain is completely gone. At least in this week, I have not experienced any pain. Thanks for your help. Just wanted to inform you as I told you that I will let you know when the pain is completely gone. However, will continue with the exercises to prevent any reoccurrence.</p>
                    <div class="testimonial-name"> - Varun,<span> Delhi</span></div>
                </div>
            </div>
            <!-- /.testimonial block -->
            <div class="col-md-4 testimonial-block">
                <!-- testimonial block -->
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left"></i></span></div>
                    <p class="testimonial-desc">I have left knee - ACL disruption, PCL bucket handle tear, peripheral vertical longitudinal tear in the medial meniscus. Horizontal tear in left lateral meniscus &amp; Right knee - ACL disruption, contusion on right horn of anterior meniscus. After consulting Ismat for rehab for a few sessions remotely, I have gained confidence in walking, and day to day activities with precautions. I can climb stairs more comfortably!</p>
                    <div class="testimonial-name"> - Durgesh, <span>Ahmedabad</span></div>
                </div>
            </div>
            <!-- /.testimonial block -->
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/slider.js"></script>
}