﻿@{
    ViewBag.Title = "Physiotherapy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Physiotherapy</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Physiotherapy</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>Physiotherapy Services</h1>
                <p class="lead">We help <strong>child, adults, seniors </strong>and the disabled with all activities of daily living right from dressing.</p>
            </div>
        </div>
    </div>
    <div class="bdr-top" style="border-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 bdr-right about-block">
                    <h2>Assessment</h2>
                    <p>A detailed assessment of your pain or injury involves examining onset and timing of your pain, contributing factors, lifestyle considerations, previous investigations or treatments and more. We don't stop assessing you until we feel we have enough information that we need to know what is causing you the issue.</p>
                </div>
                <div class="col-md-6 about-block">
                    <h2>Diagnosis</h2>
                    <p>Your physiotherapist will be able to brief you about what structures are probably causing your issue, and will explain your injury in simple terms which is easy to comprehend. We won't trick/deceive you with language. You may ask as many questions as you need. We won't stop until your questions do!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bdr-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 bdr-right about-block">
                    <h2>Treatment</h2>
                    <p>Treatment of your condition will include the active rehab exercises you need to do on a daily basis, any job modifications you may need to make to your workplace, lifestyle or fitness program, plus advice on aids or equipment that may help you to recover faster.</p>
                </div>
                <div class="col-md-6 about-block">
                    <h2>Follow Up</h2>
                    <p>There shall be a follow up from Habtalks after 10 days of the consultation over voice call and email to understand your recovery and progress will be scheduled.</p>
                </div>
            </div>
        </div>
    </div>
</div>