﻿@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Privacy Policy</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Privacy Policy</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h3>Introduction</h3>
                <p>We take your privacy very seriously. This Privacy Policy describes what we do, and what we don't do, with the personal information that we collect using this web site. We have the right to update this privacy policy from time to time by posting a new version on this website. Please check this web page periodically in order to ensure that you are familiar with any changes.</p>
                <h3>Interpretation</h3>
                <p>In this Privacy Policy, the following words have the following meanings: Contact information means personal information such as your name, address, phone number and email address that is provided to us for the purposes of interacting with us through the web site. For example, it includes details that you enter in relation to a general enquiry on a "contact us" form on our web site. Contact information does not include personal information given during the provision of paid physiotherapy services by us to you (see the definition of "health information" below); Content means all text, graphics, images, video, sound and other data displayed on, or made available from, the web site. It includes, without limitation, any blog post published on the web site; Health information means personal information collected or generated by us during the course of providing paid physiotherapy services to you; Personal information means information that identifies you or could be used to identify you (including contact information and health information); We, us and our and similar words refer to Arpit Kushwaha, trading as "Habtalks.com"; Web site refers to the site located at the domain Habtalks.com.</p>
                <h3>Question anout this Policy</h3>
                <p>If you have any questions about this Privacy Policy, please contact us by filling out the Contact form on our web site.</p>
                <h3>Sourcing Health Information</h3>
                <p>Where possible, we try to collect health information exclusively from prospective patients. However, if the patient is under 18, we may require a responsible adult (i.e. a parent or guardian) to provide health information and make payments on behalf of the patient. Where we source information from a responsible adult, references to "you" in this privacy policy will include references to both the patient and the responsible adult.</p>
                <h3>Activities which involve providing different types of Personal Information</h3>
                <p>In the course of our interaction with you, we may collect personal information (including contact information and health information) that relates to you. The types of personal information that we collect will vary according to the type of activity as follows: A. CONTACT INFORMATION Browsing: We use "Google Analytics", a web analytics service provided by Google, Inc ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the us analyse how people use the web site. The information generated by the cookie about your use of the web site includes your IP address and your location (often to the nearest town or suburb). You have the ability to refuse the use of cookies by selecting the appropriate settings on your browser, however you may not be able to use the full functionality of the web site if you choose to do this. Enquiring: You will need to provide contact information to us if you choose to submit a question or request to us via email or using our "contact us" form. The information that you will need to provide will include a name, and one or more means to contact you (whether by telephone, email address, instant messaging, or skype or other media); Subscribing: You will need to provide contact information to us if you choose to receive updates and information periodically. This contact information will include a name and either an email address, or a username for a particular social networking service (e.g. Twitter, FaceBook, Linked In etc). Commenting: You will need to provide contact information to us if you choose to make a comment in relation to any content. This contact information will include your name, contact details - including email address - and (if they can be used to identify you) the views which you choose to express. Additionally, you may choose to submit personal information in the form of a small photograph, Avatar or Gravatar; Accessing Restricted/Members Only Content: Some information we provide is only available to those who register by providing certain contact information (usually a name and email address and sometimes a phone number); Entering Competitions: We may, from time to time run competitions (trade promotion lotteries) periodically with the aim of promoting ourselves. The information that you will be asked to provide is detailed in the terms and conditions of each competition that we run; Registering to Purchase Physiotherapy Equipment: You will need to provide contact information to us if you decide to make a purchase of physiotherapy equipment from our web site. When registering, some of the information that you will be asked to provide will include your name, billing address, phone number and email address. Finally, our software records your computer's unique Internet Protocol (IP); Submitting Payments: When purchasing physiotherapy equipment from our web site, you may also provide sensitive and confidential payment information. This payment information may take the form of credit card details, PayPal details or bank account details. We also record your computer's unique Internet Protocol (IP) address when you make the payments; Other Activities: We may use information for purposes not listed above in the following circumstances: (a) where specifically authorised by you; (b) where the use is related to one of the primary purposes listed above and where it could reasonably be expected; (c) where it is necessary for us to comply with the law or the lawful direction of a governmental authority or court; or (d) where it is in the interests of public health and safety. B. HEALTH INFORMATION If we provide physiotherapy services to you in the form of a custom analysis of your condition and a tailored exercise programme or in the form of answering a "quick question", this will involve us collecting health information from you and generating health information about you. Health information provided by you will be collected through an online questionnaire which is designed to obtain a detailed medical history and other information required to make a diagnosis and recommend a treatment plan. Such information may take the form of: personal details such as your name, age, and gender; administrative information such as your address, email address, phone number and billing information (including bank account or credit card information); information about your current health service providers, including general medical practitioner; information about current or past symptoms, injuries, diseases conditions or disabilities; information about past operations, treatments received, and treatment programmes undertaken; information about allergies; information about medications which you are taking or have taken; information about your family medical history where relevant to your own condition; information about accidents, incidents or circumstances which caused or may have caused injury or discomfort; our opinion of your medical condition; our recommended treatment plan.</p>
                <h3>How we will Not use the Personal Information that you Provide</h3>
                <p>Except as set out in Clauses 6 and 7 below, we will not disclose your personal information to other persons or entities. In particular: we will not give, lend or rent your personal information to any third party telemarketing, market research organisation or email list building organisation that might on-sell it to other people or organisations. We will not use or disclose your health information except in accordance with your directions, or as necessary to deliver our health services to you</p>
                <h3>How we will use the Personal Information that you Provide</h3>
                <p>A. CONTACT INFORMATION We may use or disclose your contact information for the following purposes: Answering Queries: If you have contacted us with a query or request, we will use your contact information to respond to that query or request; Providing Information: If you subscribe to receive information from us in the form of a newsletter or emailed updates, or a feed via a social networking service, we will use your contact information to send that information to you from time to time. The information may take the form of general communications which simply allow us to "keep in touch" with you, or may be direct marketing material which contains special promotions and special offers; Displaying Comments: If you submit a comment, we have the right to display that comment on the web site, along with your name, although we will not publish your email address; Delivering Restricted Access/Members Only Content: If you register to receive restricted access or member only content, we will use your contact information to deliver that content to you. We may also choose to contact you and to offer or discuss the provision of relevant services by us to you; Competition Administration: If you win a prize in one of our competitions, we will use your contact information to notify you, and will publish your name as the winner if required to do so by law; and Usage Analysis: We use your information to generate a holistic but anonymous picture of our user base and usage patterns. This information allows us to analyse trends and demographics and helps us to improve on the content and services provided. B. HEALTH INFORMATION We may use or disclose your health information for the following purposes: Treatment/Recommendations: We will use your health information to enable us to diagnose your condition, and (where appropriate) to recommend a treatment plan and to provide you with further information about treatment options, or to provide you with answers to specific questions; Business Management: We will use your health information to allow us to manage our business, for example through planning, or evaluating and assessing the cost-effectiveness of a particular treatment or service; Quality Assurance: We will use your health information to enable us to perform quality assurance or clinical audit activities, where we evaluate and seek to improve the delivery of a particular treatment or service; Compliance: We will use your health information to comply with accreditation activities, and the requirements of professional and industry bodies such as the Indian Association of Physiotherapist, Maharashtra OT PT Council, Federation of Obstetrics & Gynaecological Societies of India (FOGSI); Complaints Handling: We will use your health information to respond to complaints made by you; Insurance: We will use your health information to co-operate with our liability insurers (e.g. by disclosing details to a medical expert, insurer, defence organisation or legal advisor) in the event that we become aware of a potential or actual claim against us by you; Defence of Claims: We will use your health information obtain advice and legal services in relation to the defence of potential or actual legal proceedings. C. PERSONAL INFORMATION We may use personal information (both contact information and health information) for the following purposes: Payment Administration: We will use financial data to process payments, and (if necessary) co-ordinate refunds. Fraud Prevention: Online businesses such as us occasionally suffer from the fraudulent activities of some shoppers. We have the right to use the personal information that we collect to verify your identity. For example, we could compare names on accounts with information on credit cards, or with publicly available information such as White Pages™ or Yellow Pages data, etc. These checks are done carefully by a member of our Team, and using manual rather than automated methods. The checks will usually be done only if there is a reason to suspect fraud; Debt Recovery: We may use your personal information to recover debts owing to us; Sale of a Going Concern: At some point in the future, we may decide to sell the assets of our organisation as part of a sale of business. Our customer or user database would be included in this sale. We would only sell this database as part of a going concern so that the new owners could continue to provide services to you. The new owners would also be bound by the terms of this Privacy Policy unless you reach a separate agreement with them. We would not sell our customer or user database separately from our other assets; Other: We may also disclose your personal information where required or necessary under the provisions of the Laws enforceable at that point of time in Republic of India. (e.g. if it is necessary to prevent a serious threat to public safety etc).</p>
                <h3>Disclosing Personal Information that you provide</h3>
                <p>A. PARTIES TO WHOM WE COULD DISCLOSE YOUR INFORMATION During the course of our business, we may disclose your personal information as follows: Service Providers: Third party companies and individuals (including Google and Paypal) are engaged from time to time to perform specific business services for us. These services include the processing of payments, trend analysis, marketing and promotions. We may need to provide some of your details to these services providers (or require you to provide your details directly to them) in order for them to perform their functions. We will only do so where it is strictly necessary for them to perform these functions; Authorities etc: We will pass on information relating to suspected fraudulent activity to appropriate authorities including the police, banks and credit card issuers, or otherwise if required to do so by law; General Public: If you win a prize or award in any of our competitions or contests, we will disclose some of your contact information in certain publications in order to comply with our obligations under applicable trade lotteries legislation. Precise details of the disclosures to be made appear in the terms and conditions of each competition, and entry into each of our competitions requires your consent to such disclosures. New Owners: As detailed above, we might decide to sell our user database as part of a going concern to a new owner. We would ensure that this owner would also be bound by this Privacy Policy unless you reach a separate agreement with them. B. CROSS-BORDER DISCLOSURES The disclosures of information listed in section (A) above, may involve transmitting, storing or processing information across national borders. This includes (amongst other things): our right to host the web site on servers located outside India; our right to conduct usage analysis; and our right to process payments. You consent to the transmission of data for these purposes. In addition, personal information that you submit in the form of, or relating to, comments will be published on the Internet and will be accessible in any location around the world in which there is Internet access.</p>
                <h3>Your Rights in Relation to Personal Information that you provide</h3>
                <p>Subject to the exceptions allowed by law, you have a right to view, change and remove the personal information that we store about you. Requests for us to assist you to view, change or remove your personal information, should be made in writing through our web site using the link provided above. You should provide us with any details necessary to enable us to comply with your request, including your name and the capacity in which you believe we are storing your personal information (i.e. as a customer, newsletter subscriber, patient etc). If you ask us to attend to your request, we have the right to request a small fee before we can assist you. Before we act on requests of this nature, we will tell you how much this service will cost. We will respond to your request within 10 business days.</p>
                <h3>Changing your Communication Preferences</h3>
                <p>We do not disseminate spam, as we only send information to people who have requested it. If you have requested information from us in the past, but have now changed your mind, please either: click on the "unsubscribe" link in any one of our communications (if available); or reply to any of our email messages using the word "unsubscribe" in the heading; or contact us by visiting Contact. There is no charge associated with being removed from our mailing or communications list.</p>
                <h3>Information Security</h3>
                <p>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information, and to prevent unauthorised access, modification or disclosure of your personal information. Payment information is processed by secure servers hosted by PayPal, and not on this web site.</p>
                <h3>Other Privacy Information</h3>
                <p>If you are a registered member of the web site, please sign out once you have finished using our web site and close your browser (e.g. Internet Explorer, Mozilla Firefox or Apple Safari). This ensures that no one else can access your personal information after you. You are responsible for the security of, and access to, your computer. There are particular risks when you use your computer for online shopping in a public place (such as an Internet cafe). You are responsible for maintaining the secrecy of your username, password and any account information. This document was prepared by Siddharth Awadhoot, an Independent Consultant based out of Hyderabad, Republic of India</p>
            </div>
        </div>
    </div>
</div>