﻿
@{
    ViewBag.Title = "Service";
}


<style>
    .line-tabs {
        width: 100% !important;
    }
</style>
<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Habtalk Services</h1>
            </div>
            <!-- page description -->
        </div>
        <!-- page section -->
    </div>
</div>



<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>Habtalk Services</h1>
                <p class="lead">
                    We help <strong>children, adults, seniors </strong>
                    and the disabled with all activities of daily living right from dressing.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="history-block">
                    <div class="line-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#ANCCare" aria-controls="profile" role="tab" data-toggle="tab">
                                    ANC Care
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#OnlinePhysiotherapy" aria-controls="home" role="tab" data-toggle="tab">
                                    Online Physiotherapy
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ANCCare">

                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <p>
                                        Hey,
                                        <br />
                                        Planning a baby? Or are you gonna be a mommy soon?
                                        If so, Congratulations! We must say, you are the blessed couple making a baby.
                                        Trust me, we know how bouncy you are on insides, also about the butterflies you let the baby play with in the tummy.
                                        We know how you sit in reverie thinking that you will soon be a mother and how you want your child to be.
                                        Seems like you are just waiting for the natal.
                                    </p>
                                </div>

                                <div class="col-md-6 col-md-offset-3">
                                    <img src="~/Content/images/ancservices.png" alt="" class="img-responsive">
                                </div>

                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <p>
                                        Did you know?
                                        Natal means the time of birth!
                                        Likewise, antenatal is the time of pregnancy before you give birth to the baby and postnatal is after your delivery.
                                    </p>

                                    <p>
                                        I am sure you know that, researchers strongly suggest being physically active and exercising during pregnancy. For it is like having eggs in your beer!
                                        Here are some of the benefits:
                                        Reducing pregnancy related aches & pains
                                        Reduces the risk of gestational diabetes
                                        Lifts mood up
                                        Improves muscle strength
                                        Helps you sleep better
                                        A bit less painful labor
                                        Also, if you are wondering or worrying,  would you be a good mum or not? Be physically sound even after pregnancy or not?
                                        Yes.
                                        You will be because that's what we are here for.
                                    </p>

                                    <p>
                                        Our Antenatal Care services includes: 30 sessions!
                                        28 sessions during your pregnancy phase
                                        2 sessions post your delivery.
                                    </p>

                                    <p>
                                        <b>These 28 sessions include:</b><br />
                                        -Routine exercise sessions according to your trimester<br />
                                        -Posture education and corrections exclusively in accordance with your need.<br />
                                        -Ergonomic changes<br />
                                        -Baby handling classes<br />
                                        -Breast feeding classes<br />
                                        -Preparation for parenthood (a couple class)<br />
                                        -Breathing & relaxation exercises<br />
                                        -Preparation for labor<br />
                                        -and a lot more….
                                    </p>

                                    <p>
                                        <b>Extended 2 weeks post delivery sessions include:</b><br />
                                        -Post delivery care<br />
                                        -Do’s & Don’t as per the type of delivery- Normal or C-section<br />
                                        -Baby care<br />
                                        Hurry up! Get yourself enrolled with us,and we will walk hand in hand through your journey to motherhood.
                                    </p>

                                    <p>
                                        For pricing and more details please drop and email to <b>contact@habtalks.com</b>
                                    </p>
                                </div>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="OnlinePhysiotherapy">
                                
                                <div class="row">

                                    <div class="col-md-6 bdr-right">
                                        <h2>Assessment</h2>
                                        <p>
                                            A detailed assessment of your pain or injury involves examining onset and timing of your pain, contributing factors,
                                            lifestyle considerations, previous investigations or treatments and more. We don't stop assessing
                                            you until we feel we have enough information that we need to know what is causing you the issue.
                                        </p>
                                    </div>

                                    <div class="col-md-6">
                                        <h2>Diagnosis</h2>
                                        <p>
                                            Your physiotherapist will be able to brief you about what structures are probably causing your issue,
                                            and will explain your injury in simple terms which is easy to comprehend. We won't trick/deceive you with language.
                                            You may ask as many questions as you need. We won't stop until your questions do!
                                        </p>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-6 bdr-right">
                                        <h2>Treatment</h2>
                                        <p>
                                            Treatment of your condition will include the active rehab exercises you need to do on a daily basis,
                                            any job modifications you may need to make to your workplace, lifestyle or fitness program,
                                            plus advice on aids or equipment that may help you to recover faster.
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Follow Up</h2>
                                        <p>
                                            There shall be a follow up from Habtalks after 10 days of the consultation
                                            over voice call and email to understand your recovery and progress will be scheduled.
                                        </p>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <a href="/Register" target="_blank" class="btn btn-secondary btn-block">Register With Us </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>