﻿@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Story</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Habtalk Story</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>About Habtalk</h1>
                <p class="lead">We help <strong>child, adults, seniors </strong>and the disabled with all activities of daily living right from dressing.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img src="~/Content/images/storypage1.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-10 col-md-offset-1 padding-top60 text-center">
                <h1>We are changing physiotherapy for the better</h1>
                <p>
                    Habtalks, being the very first Telerehabilitation Startup in India, set the balls rolling with the
                    goal to reach out to every individual possible in exigency.
                </p>
                <p>
                    Habtalks is a team of qualified Physiotherapists with oodles of experience in the Indian Health and Wellness Industry.
                </p>
                <p>
                    We set our hearts on pledging to spare our dedication and sincerity in using the latest
                    digital technology for physiotherapy and rehabilitation services for our client’s benevolence.
                </p>

                <p>
                    We take up the cudgels to touch millions of lives and serve them with sustainable solutions
                    attending their day to day health and wellness concern at a minimised fetch. We scientifically
                    assess and diagnose the pathology in accordance with your complaints and design the best treatments to ensure recovery.
                </p>

                <p>
                    We promise to keep on with the digital counselling and supervising our client’s needs until resolution of the ailment.
                </p>

                <p>
                    We serve all the generations- infantile, childhood, adulthood and geriatrics with equal efficiency,
                    be it a neurological, cardiopulmonary, musculoskeletal or community-associated case.
                </p>
                <p>
                    Along with the same, we also furnish an itinerary for expecting ladies. It includes antenatal
                    and postnatal care along with other beneficiaries
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-space section-color">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>Why choose Habtalk </h1>
                <p>Providing innovative solutions that improve health and quality of life</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 feature">
                <div class="feature-icon"><i class="icon-coffee-cup icon-size-medium"></i></div>
                <div class="feature-content">
                    <h2>Online Consultation</h2>
                    <p>
                        We practice digitally, to keep a wall against the pain
                        and injuries in your body be it in the head or toes.
                        Our aim is to provide you with a quality of life.
                    </p>
                </div>
            </div>
            <div class="col-md-3 feature">
                <div class="feature-icon"><i class="icon-document icon-size-medium"></i></div>
                <div class="feature-content">
                    <h2>Ergonomic Consultation</h2>
                    <p>
                        We believe you should be at ease while at work or rest.
                        Ergonomic consultation will help you to balance your health and the toils at the job.
                    </p>
                </div>
            </div>
            <div class="col-md-3 feature">
                <div class="feature-icon"><i class="icon-avatar icon-size-medium"></i></div>
                <div class="feature-content">
                    <h2>Antenatal Care</h2>
                    <p>
                        Pregnancy is the most stressful period in a woman's life
                        and we know you care for her. Tap here, to know more.
                    </p>
                </div>
            </div>
            <div class="col-md-3 feature">
                <div class="feature-icon"><i class="icon-calendar icon-size-medium"></i></div>
                <div class="feature-content">
                    <h2>Postnatal Care</h2>
                    <p>
                        Post-pregnancy care, baby care and every integral
                        part of motherhood is been taken care of by us.
                        Join us, so that we can help you walk through this crucial journey!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>