﻿@{
    ViewBag.Title = "Terms Of Use";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Terms Of Use</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Terms Of Use</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h3>General</h3>
                <p>This document sets out the terms of use of this Web Site, which is owned and operated by Arpit Kushwaha trading as Habtalks.com. It incorporates the following document by reference: a Privacy Policy In addition, if you pay for information or advice from us (including in the form of a treatment programme), your relationship with us will also be governed by the Terms and Conditions of Purchase which will override this document to the extent of any inconsistency.</p>
                <h3>Consent</h3>
                <p>You signify your consent to these Terms by using this Web Site. We may alter these Terms by making changes to this web page at our discretion and without notice. By continuing to use this Web Site you accept these Terms as they apply from time to time.</p>
                <h3>Purpose and nature of our free content</h3>
                <p>a. Not personal treatment: Our free content is intended as general information only. It is not intended to be comprehensive, and must not be relied upon as a substitute for "in person" physiotherapy or other medical treatment. You should organise a personal consultation with a suitably qualified medical professional before acting or relying on any free content. b. No guarantee of currency: We attempt to ensure that our free content is current and based on the latest research and industry practice as at the date of initial publication, but we do not guarantee its currency.</p>
                <h3>Our legal relationship with you</h3>
                <p>a. No duty of care: We do not assume any duty of care in relation to you or any other third party by providing the free content. b. No practitioner/client relationship: Mere use of this Web Site or free content is not intended to, and does not, create a practitioner-client relationship between you and us.</p>
                <h3>Liability</h3>
                <p>To the maximum extent permitted by law, we exclude any liability to you for any loss, damage, claims or costs (whether indirect, incidental, special, consequential or otherwise), including those associated with - a. loss of business, income or profits; b. pain and suffering; c. the need to obtain medical treatment or rehabilitation or equipment; resulting from the use of this Web Site. To the maximum extent possible, this exclusion applies to liability, loss or damage arising under in tort, contract, negligence, under statute or otherwise. Where liability cannot be excluded, any liability incurred by us in relation to the use of this Web Site or the free content is limited to the re-supply of the services or the free content.</p>
                <h3>Trade Mark ownership</h3>
                <p>HabTalks is a trade mark belonging to Arpit Kushwaha, and we reserve all rights with respect to that mark.</p>
                <h3>Copyright ownership</h3>
                <p>All free content is subject to copyright. Where copyright for materials on this Web Site is not owned by us, it has been included on the Web Site under a licence from the owner or lawful licensee. Except as provided for by Clause 8, you must not use, copy or reproduce any free content (including graphics) in any way without our express written permission.</p>
                <h3>Use the information on this Web Site</h3>
                <p>Subject to Clause 9, you are given a non-exclusive license, revocable at will, to copy and reproduce faithfully any blog post or part of any free content for personal use. Subject to Clause 9, you are given a non-exclusive license, revocable at will, to copy and reproduce faithfully any blog post or part of any free content for commercial use, providing you: a. display the title of the blog post; and b. preserve the copyright notice ([2020,or any other relevant year] ©Habtalks.com); c. where the blog post is reproduced on the World Wide Web, include a link back to the specific blog entry or the home page of this Web Site (http://www.habtalks.com); or, in all other cases; and d. display the domain name of this Web Site (Habtalks.com).</p>
                <h3>Unauthorised use</h3>
                <p>You must only use this Web Site for legitimate personal purposes. In particular, you must not: a. interrupt, or attempt to interrupt, the operation of this Web Site in any way; b. alter or attempt to alter any free content; c. attempt to gain access to any password protected user account on the Web Site which is not intended for use by you; d. gain access, or attempt to gain access, to any private data, personal information or software code stored on the servers used by this Web Site; or e. attempt to damage or commercial interests in any way.</p>
                <h3>Security and enforcement measures</h3>
                <p>We reserve the right to: a. limit or deny your access to this Web Site or your ability to make comments if, in our opinion, you breach these Terms; and b. collect and store your IP address for the purpose of enforcing these Terms. Any unauthorised interruption or alteration is likely to result in criminal prosecution and/or civil action.</p>
                <h3>Links from this Web Site</h3>
                <p>Our Web Site contains links to other Web Sites over which we have no control. We make no representations about the accuracy of information contained on those Web Sites. We are not liable for the content on those Web Sites, and if you choose to access those Web Sites, you do so at your own risk.</p>
                <h3>Advertisements</h3>
                <p>This Web Site may contain advertisements for goods and services provided by third parties. Unless explicitly stated, we do not endorse any product or services advertised on this Web Site, and we make no assurances or warranties (expressed or implied) about the accuracy, completeness or reliability of any advertisement.</p>
                <h3>Governing law</h3>
                <p>These Terms are governed by the laws of the Republic of India and you submit to the jurisdiction of the courts and tribunals in that Country.</p>
                <h3>Definitions</h3>
                <p>In this document and the documents incorporated by reference, the following terms have the following meanings unless the context clearly requires otherwise: "Blog post" means a post by us that appears on this Web Site; "Comment" means any thought, remark, question or observation posted by a user of this Web Site in response to a Blog Post; "Comments submission software" means any software application or code designed to enable a non-human user to submit content on web sites; "Free content" means all text, graphics, images, video, sound and other data displayed on, or made available from, the Web Site without charge. It includes, without limitation, any Blog Post; "Habtalks.com" means us; "Terms" and " Terms of Use" means the terms of use of this Web Site as set out in this document and the documents incorporated by reference; and "Web Site" means the Web Site located at the domain "Habtalks.com" and on all sub-domains, folders and sub-folders on those domains.</p>
                <h3>Interpretation</h3>
                <p>In this document, unless the context clearly requires otherwise: a. The terms "we", "us" and "our" are references to Arpit Kushwaha, it's successors and assignees. b. Words defined in the singular have the corresponding meaning in the plural. c. Reference to a "person" includes a reference to a corporation, association or other entity. This document was prepared by Siddharth Awadhoot, an Independent Consultant based out of Hyderabad, Republic of India</p>
            </div>
        </div>
    </div>
</div>