﻿@{
    ViewBag.Title = "Terms And Conditions";
}

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Terms &amp; Conditions</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Terms &amp; Conditions of Purchase</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h3>General</h3>
                <p>We agree to provide the Telerehabilitation services to you on the terms set out in this Agreement. This document represents the entire understanding between the Parties, and - except for those terms implied by law and which cannot be excluded and any other terms specifically incorporated by reference - no other terms apply.</p>
                <h3>Consent</h3>
                <p>You signify your consent to this Agreement by purchasing any Telerehabilitation services from the web site. We do alter this Agreement from time to time, and you must review this document before each purchase. This document was last changed on 12 April 2020. If you are under 18 years of age, you must provide us with the written consent of your parent or guardian, who must also agree to - be bound by this Agreement; provide proper supervision in relation to the provision of information to us; and provide proper supervision in relation to your use of our Telerehabilitation services.</p>
                <h3>Purpose and Nature of our Telerehabilitation Services</h3>
                <p>You acknowledge that - no online service is a perfect substitute for an "in person" consultation with a physiotherapist or gynaecologist; and we are unable to guarantee that our treatments will result in a cure of your particular complaint or condition. We recommend treatments that we believe are likely (based upon our experience and training) to be effective, but we cannot guarantee results.</p>
                <h3>Suitability of our Telerehabilitation Services</h3>
                <p>It may become obvious to us that our Telerehabilitation services are not suitable for you. In these circumstances, we will not provide the Telerehabilitation services to you. Instead, we will refund any money paid to you, and will suggest an alternative course of action.</p>
                <h3>Provision of Information by You</h3>
                <p>You acknowledge that in delivering our Telerehabilitation services, we are completely reliant upon the information that you provide us. In this regard, you agree to provide us with: accurate and complete information in response to our online questionnaires and any follow up questions which we ask of you; and any information which could reasonably be expected to be relevant to your condition or treatment.</p>
                <h3>Provision of Advice by Us</h3>
                <p>We agree to provide you with a written document containing your treatment programme or other requested information by email within five business days.</p>
                <h3>Using our Telerehabilitation Services</h3>
                <p>a. Full understanding required: You must not implement our treatment program or act on any advice unless you fully understand it. Please ask any questions before implementing any treatment program or acting on any advice provided by us. b. Cessation: You must immediately cease using our treatment program and cease acting upon any advice given by us if you experience any pain or discomfort. In these circumstances, you must contact us as soon as possible. c. Third persons: You must not provide our treatment program to any other person. We assume no duty of care in relation to any third persons.</p>
                <h3>Liability</h3>
                <p>a. Statutory Terms: The laws in force in Republic of India imply certain terms into contracts between consumers and businesses. These include warranties that our services are to be delivered with due care and skill, and that they are reasonably fit for the purposes for which they are intended. Such terms form part of this Agreement, and no part of this Agreement is intended to exclude, restrict or modify those terms or our liability to you for breach of those terms. b. Exclusion: Subject to sub-clause (a) above and our obligation under any law not to exclude or restrict our liability to you, we exclude all liability to you which is related in any way to your use of our Telerehabilitation services - of whatever nature (whether any indirect, incidental, special or consequential loss or damage or otherwise, including loss of business or other profits); and however arising (whether through the law of negligence or tort generally, breach of contract, breach of statutory duty or otherwise). c. Limitation: Where liability cannot be excluded under sub-clause (b) above, any liability incurred by us in relation to our Telerehabilitation services is limited to INR 2,500 unless we specifically agree an alternative amount with you. We would be prepared to agree to increase the cap on our liability in return for you paying a higher fee for our Telerehabilitation services.</p>
                <h3>Privacy</h3>
                <p>The Privacy Policy forms part of this Agreement.</p>
                <h3>Governing Law</h3>
                <p>This Agreement is governed by the laws in force in the Republic of India, and you submit to the jurisdiction of the courts in that country.</p>
                <h3>Definitions</h3>
                <p>In this document and the documents incorporated by reference, the following terms have the following meanings unless the context clearly requires otherwise: "Agreement" means the terms and conditions of purchasing our Telerehabilitation services as set out in this document and the documents incorporated by reference; "Business Days" means any day other than a Saturday or a Sunday or a day declared as a public holiday by the Government of The Republic of India, "Habtalks.com" means us; "Telerehabilitation services" means any physiotherapy or health-related services provided by us in return for a fee including any assessment, diagnosis, advice or treatment program; and "Web site" means the web site located at the domain "Habtalks.com" and on all sub-domains, folders and sub-folders on this domain.</p>
                <h3>Interpretation</h3>
                <p>In this document, unless the context clearly requires otherwise: The terms "we", "us" and "our" are references to are provided via this web site, which is owned and operated by Arpit Kushwaha, trading as Habtalks.com, our successors and assignees; Words defined in the singular have the corresponding meaning in the plural; Reference to a "person" includes a reference to a corporation, association or other entity; Reference to a "written request" means a request submitted to us by email, by post, by fax or using the "contact us" form on the web site; Reference to the "Parties" means both you and us; and All monetary amounts are expressed in INR (INDIAN NATIONAL RUPEES). This document was prepared by Siddharth Awadhoot, an Independent Consultant based out of Hyderabad, Republic of India</p>
            </div>
        </div>
    </div>
</div>