﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index" title="Home">Home</a></li>
                        <li class="active">Testimonials</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Testimonials</h1>
            </div>
            <!-- page description -->

        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>Acknowledgements/How our patients raise their hats off!</h1>
                <p class="lead">
                    We are blessed to hear this from our beloved and valued patients.
                </p>
            </div>
        </div>
        <div class="row testimonial">
            <div class="col-md-6 testimonial-block">
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span></div>
                    <p class="testimonial-desc">Ismat, thanks a lot! I feel much better.. I mean.. I used to wake up with pain every alternate day.. I surely feel better after the exercises you prescribed as I have been doing them on regular basis and also the pillow!</p>
                    <div class="testimonial-name"> - Kanika, <span>Pune</span></div>
                </div>
            </div>
            <div class="col-md-6 testimonial-block">
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span></div>
                    <p class="testimonial-desc">Hi Doctor Ismat I have been following exercises and the pain is completely gone. At least in this week, I have not experienced any pain. Thanks for your help. Just wanted to inform you as I told you that I will let you know when the pain is completely gone. However, will continue with the exercises to prevent any reoccurrence.</p>
                    <div class="testimonial-name"> - Varun,<span> Delhi</span></div>
                </div>
            </div>
            <div class="col-md-6 testimonial-block">
                <div class="testimonial-inner">
                    <div class="testimonial-icon"><span class="circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span></div>
                    <p class="testimonial-desc">I have left knee - ACL disruption, PCL bucket handle tear, peripheral vertical longitudinal tear in the medial meniscus. Horizontal tear in left lateral meniscus &amp; Right knee - ACL disruption, contusion on right horn of anterior meniscus. After consulting Ismat for rehab for a few sessions remotely, I have gained confidence in walking, and day to day activities with precautions. I can climb stairs more comfortably!</p>
                    <div class="testimonial-name"> - Durgesh, <span>Ahmedabad</span></div>
                </div>
            </div>
        </div>
    </div>
</div>