﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Care well provide a versatile service to your dear one.Get better and faster service at your door step. Clinical support to senior citizen and post-surgical patient">
    <meta name="keywords" content="physiotherapy Habtalks service,nursing service,personal care, senior citizen care, Habtalks service, elderly care">
    <title>@ViewBag.Title Habtalks</title>

    @Styles.Render("~/bundles/css")
    @RenderSection("styles", false)
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

    <!-- Template Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/x-icon">
</head>
<body class="animsition">
    @*<div class="collapse" id="searcharea">
            <div class="well-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- /.search area -->
    <div class="header">
        <!-- header -->
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-sm-4 col-md-4 header-logo">
                    <a href="/Home/Index" title="LOGO"><img src="~/Content/images/logo.png" alt=""></a>
                </div>
                <div class="col-xs-3 col-sm-8 col-md-8 header-text">
                    <span class="text-email"><a href="mailto:contact@habtalks.com">contact@habtalks.com</a></span>
                    @*<span class="search">
                            <a class="" role="button" data-toggle="collapse" href="#searcharea" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>*@
                </div>
            </div>
        </div>
    </div>
    <!-- /.header -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="navigation">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Story", "Story", "Home")</li>
                            <li>@Html.ActionLink("Services", "Service", "Home")</li>
                            <li>@Html.ActionLink("Register", "Index", "Register")</li>
                            <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                            @*<li class="active"><a href="index.html" title="Home" class="animsition-link">Home</a></li>
                                <li><a href="story.html" title="Story" class="animsition-link">Story</a></li>
                                <li><a href="testimonials.html" title="Testimonials" class="animsition-link">Testimonials</a></li>
                                <li><a href="contact-us.html" title="Contact Us" class="animsition-link">Contact Us</a></li>
                                <li><a href="register.html" title="Register" class="animsition-link">Register</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>
    <div class="section-default-bg section-space-40 cta-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 cta-title">
                    <!-- cta title -->
                    <h2 class="heading-title-white">Do you need a personal physiotherapist?</h2>
                </div>
                <!-- /.cta title -->
                <div class="col-md-3">
                    <a href="/Register" class="btn btn-secondary btn-block">Book an appointment</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 footer-widget">
                    <!-- footer widget -->
                    <h3 class="footer-widget-title">Quick links</h3>
                    <ul class="listnone arrow">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Story", "Story", "Home")</li>
                        <li>@Html.ActionLink("Services", "Service", "Home")</li>
                        <li>@Html.ActionLink("Register", "Index", "Register")</li>
                        <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                        @*<li><a href="#">Home</a></li>
                            <li><a href="story.html" class="animsition-link">Story</a></li>
                            <li><a href="testimonials.html" class="animsition-link">Testimonials</a></li>
                            <li><a href="contact-us.html" class="animsition-link">Contact Us</a></li>
                            <li><a href="register.html" class="animsition-link">Register</a></li>*@
                    </ul>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-4 footer-widget">
                    <!-- footer widget -->
                    <h3 class="footer-widget-title">Contact us</h3>
                    <ul class="listnone">
                        @*<li>
                                245 North Spruce Street, Redwood
                                city, California 94061
                            </li>
                            <li> Phone : 413-658-5373</li>*@
                        <li>
                            Email :
                            <a href="mailto:contact@habtalks.com">contact@habtalks.com</a>
                        </li>
                        <li>
                            We are available 24 hours
                            7 days a week
                        </li>
                    </ul>
                    <div class="footer-widget footer-social-widget">
                        <h3 class="footer-widget-title">Follow us</h3>
                        <ul class="listnone">
                            <li>
                                <a href="https://www.facebook.com/Habtalks/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/habtalks/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            @*<li><a href="#"><i class="fa fa-twitter"></i></a></li>*@
                            @*<li><a href="#"><i class="fa fa-google-plus"></i></a></li>*@
                            @*<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>*@
                            <li>
                                <a href="https://www.linkedin.com/company/35926037/admin/" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-2 footer-widget">
                    <!-- footer widget -->
                    <h3 class="footer-widget-title">Quick links</h3>
                    <ul class="listnone arrow">
                        <li>@Html.ActionLink("Terms & Conditions", "TermsAndConditions", "Home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                        <li>@Html.ActionLink("Terms Of Use", "TermsOfUse", "Home")</li>
                    </ul>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-4 footer-widget">
                    <!-- footer widget -->
                    <h3 class="footer-widget-title">Our Story</h3>
                    <p>
                        Habtalks, being the very first Telerehabilitation Startup in India,
                        set the balls rolling with the goal to reach out to every individual possible in exigency.
                        <br><a href="/Home/Story" class="btn-link animsition-link"> View More</a>
                    </p>
                </div>
                <!-- /.footer widget -->
            </div>
        </div>
    </div>

    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright-text">Copyright 2019 HabTalks. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
</body>
</html>
