﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/Logo.png" type="image/gif" sizes="16x16">
    <title>@ViewBag.Title Habtalks</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Common")

    <style type="text/css">
        .error {
            color: red;
        }
    </style>

</head>
<body id="top">
    <div class="wrapperHeading row1">
        <header id="header" class="hocHeading clear">
            <section>
                <div style="padding-top: 8px">
                    <a href="/Home/Index">
                        <img src="~/images/Logo.png" style="width: 80px; height: 80px; margin-left: 50px" />
                    </a>
                </div>
                <div>
                    <h1 id="logo"><a href="/Home/Index">HabTalks</a></h1>
                </div>
                <div style="padding-right: 50px">
                    <form class="clear" method="post" action="#">
                        <fieldset>
                            <input type="search" value="" placeholder="Search Here&hellip;">
                            <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
                        </fieldset>
                    </form>
                </div>
            </section>
            <div>
                <nav id="mainav" style="width: 80%; margin-left: 120px; margin-right: 120px">
                    <ul class="clear">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Story", "Story", "Home")</li>
                        <li>@Html.ActionLink("Physiotherapy", "Physiotherapy", "Home")</li>
                        <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Register", "Index", "Register")</li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div class="clear"></div>
    <!-- main body -->

    <div class="content">
        <div class="group">
            <div class="one_quarter first">&nbsp;</div>
            <div class="two_quarter">
                @RenderBody()
            </div>
            <div class="one_quarter">&nbsp;</div>
        </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
    <div class="wrapper row3">&nbsp;</div>
    <div class="wrapper coloured">
        <article>&nbsp;</article>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <div class="one_third first" style="padding-left: 20px">
                <h6 class="heading">Quick Links</h6>
                <ul class="nospace linklist">
                    <li>@Html.ActionLink("Terms & Conditions", "TermsAndConditions", "Home")</li>
                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                    <li>@Html.ActionLink("Terms Of Use", "TermsOfUse", "Home")</li>
                </ul>
            </div>
            <div class="one_third">
                <h6 class="heading">Contact Us</h6>
                <ul class="nospace btmspace-30 linklist contact">

                    <li><i class="fa fa-envelope-o"></i>support@habtalks.com</li>
                </ul>
                <ul class="faico clear">
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><a class="faicon-facebook" target="_blank" href="https://www.facebook.com/habtalks-102370854754068/"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-instagram" target="_blank" href="https://instagram.com/habtalks?igshid=fkpf7ate63h2"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="one_third">
                <h6 class="heading">Story</h6>
                <article class="btmspace-30">

                    <p>
                        HabTalks started as a dream to transform the Rehabilitation domain in India
                        and make it more accessible. It is the first of its kind Telerehabilitation&hellip;
                        @Html.ActionLink("more", "Story", "Home")
                    </p>
                </article>
            </div>
        </footer>
    </div>
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="http://www.HabTalks.com">HabTalks</a></p>
        </div>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                //format: 'L',
                maxDate: new Date(),
                useCurrent: false,
                format: 'DD/MM/YYYY'
            });
            $('#datetimepickerDate').datetimepicker({
                //format: 'L',
                minDate: new Date(),
                format: 'DD/MM/YYYY'
            });
            $('#datetimepickerTime').datetimepicker({
                format: 'LT',
                disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 19, 20, 21, 22, 23, 24],
                enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
            });
        });
    </script>
</body>
</html>
