﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@*<div class="alert alert-danger" role="alert">
    @Model.Exception.Message
</div>*@

<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>