﻿@model HabTalksMVC.Models.Appointment
    @{
        ViewBag.Title = "Scheduler";
    }
    @using (Html.BeginForm("SaveAppointment", "Register", FormMethod.Post))
    {
        <div class="well">
            <div class="form-group row">
                <label for="inputDOB" class="col-sm-3 col-form-label">Select Date</label>
                <div class="col-sm-5">
                    <div class='input-group' id='datetimepickerDate'>
                        @Html.TextBoxFor(m => m.appointment.AppointmentDate, new { @class = "form-control", @placeholder = "Appointment" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDOB" class="col-sm-3 col-form-label">Time</label>
                <div class="col-sm-5">
                    <div class='input-group' id='datetimepickerTime'>
                        @Html.TextBoxFor(m => m.appointment.Time.TimeOfDay, new { @class = "form-control", @placeholder = "Time" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 text-right">
                <input type="submit" id="BtnAppointment" class="btn btn-primary" value="Schedule" />
            </div>
        </div>
    }