﻿@model bool
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h1>Thank you for selecting plan.</h1>
                @{
                    if (Model == true)
                    {
                        <div class="alert alert-success" role="alert">
                            Your Payment is Successful.
                            Thank you for registering with us.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Your Payment is Not Successful.
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>