﻿@model HabTalksMVC.Models.MainPageModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        #step1, #step2, #step3 {
            pointer-events: none;
            cursor: not-allowed;
        }
    </style>
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<!-- /.navigation -->


<div class="section-space section-color">
    <div class="container">
        <!-- MultiStep Form -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle" id="step1">1</a>
                            <p>Area of pain(s)</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled" id="step2">2</a>
                            <p>Personal details</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled" id="step3">3</a>
                            <p>Book an appointment</p>
                        </div>
                    </div>
                </div>
                <form role="form" class="register-form" enctype="multipart/form-data" method="post" action="/Register/Schedule" id="frmRegister">

                    @{
                        if (ViewBag.ErrorMessage != null)
                        {
                            <br />
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                    }

                    <div class="row setup-content" id="step-1">
                        <div class="col-xs-12">
                            <div class="col-md-12">
                                <h3 class="text-center">Area of pain(s)</h3>
                                <div class="area-pain">
                                    <div class="form-group">
                                        @for (int i = 0; i < Model.painarea.Count; i++)
                                        {
                                            @Html.HiddenFor(m => m.painarea[i].Id)
                                            @Html.HiddenFor(m => m.painarea[i].Pain_Area)

                                            <label class="checkbox-inline">
                                                @Html.CheckBoxFor(m => m.painarea[i].IsSelected, new { @class = "painAreaClass" })
                                                @Html.DisplayFor(m => m.painarea[i].Pain_Area)
                                            </label>
                                        }

                                        @Html.ValidationMessage("PainAreaError", "", new { @class = "error" })

                                        <span class="error field-validation-error" id="painAreaOneErrorMsg">
                                            Select any one pain area
                                        </span>

                                        <span class="error field-validation-error" id="painAreaMorethenOneErrorMsg">
                                            Select only one pain area
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary nextBtn btn-lg" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="row setup-content" id="step-2">
                        <div class="col-xs-12">
                            <div class="col-md-12">
                                <h3 class="text-center">Personal details</h3>
                                <div class="personal-details form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Name <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ClientBookingModel.Name, new
                                            {
                                                @required = "required",
                                                @class = "form-control",
                                                @placeholder = "Your Name"
                                            })
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.Name, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Birth Date <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            <div class='input-group' id='datetimepicker1'>
                                                @Html.TextBoxFor(m => m.ClientBookingModel.DOB, new
                                                {
                                                    @required = "required",
                                               @class = "form-control",
                                                    @placeholder = "Your DOB"
                                                })

                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.DOB, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Gender <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.ClientBookingModel.Gender, "M", new { @checked = "checked", @id = "rbMale" }) Male
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(m => m.ClientBookingModel.Gender, "F", new { @id = "rbFemale" }) Female
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Mobile <sup>*</sup></label>

                                        <div class="col-sm-3">
                                            <div class='input-group'>
                                                <span class="input-group-addon">+</span>
                                                @Html.TextBoxFor(m => m.ClientBookingModel.CountryCode, new
                                                {
                                                    @required = "required",
                                               @class = "form-control",
                                                    @placeholder = "Code"
                                                })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.CountryCode, "", new { @class = "error" })
                                        </div>

                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.ClientBookingModel.Mobile, new
                                            {
                                                @required = "required",
                                           @class = "form-control",
                                                @placeholder = "Your Mobile No."
                                            })
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.Mobile, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Email <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ClientBookingModel.Email, new
                                            {
                                                @required = "required",
                                                @class = "form-control",
                                                @placeholder = "Your Email"
                                            })
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.Email, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Weight <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            <div class='input-group'>
                                                @Html.TextBoxFor(m => m.ClientBookingModel.Weight, new
                                                {
                                                    @required = "required",
                                               @class = "form-control",
                                                    @placeholder = "Your Weight"
                                                })
                                                @Html.ValidationMessageFor(m => m.ClientBookingModel.Weight, "", new { @class = "error" })

                                                <span class="input-group-addon">
                                                    @Html.DropDownListFor(m => m.ClientBookingModel.WeightMeasure, new List<SelectListItem>
                                                     {
                                                         new SelectListItem{ Text="KG", Value = "KG" },
                                                         new SelectListItem{ Text="LBS", Value = "LBS" },
                                                    })

                                                    @Html.ValidationMessageFor(m => m.ClientBookingModel.WeightMeasure, "", new { @class = "error" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Height <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            <div class='input-group'>
                                                @Html.TextBoxFor(m => m.ClientBookingModel.Height, new
                                                {
                                                    @required = "required",
                                                    @class = "form-control",
                                                    @placeholder = "Your Height"
                                                })
                                                @Html.ValidationMessageFor(m => m.ClientBookingModel.Height, "", new { @class = "error" })

                                                <span class="input-group-addon">
                                                    @Html.DropDownListFor(m => m.ClientBookingModel.HeightMeasure, new List<SelectListItem>
                                                    {
                                                        new SelectListItem{ Text="CMS", Value = "CMS" },
                                                        new SelectListItem{ Text="FT", Value = "FT" },
                                                    }, new { @required = "required", })
                                                    @Html.ValidationMessageFor(m => m.ClientBookingModel.HeightMeasure, "", new { @class = "error" })
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Activity Level <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ClientBookingModel.ActivityLevel,
                                               new SelectList(Enum.GetValues(typeof(HabTalksMVC.Models.ActivityLevel)))
                                               , new { @required = "required", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.ActivityLevel, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Profession <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ClientBookingModel.Profession, new
                                            {
                                                @required = "required",
                                                @class = "form-control",
                                                @placeholder = "Your Profession"
                                            })
                                            @Html.ValidationMessageFor(m => m.ClientBookingModel.Profession, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Upload Reports</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="FormControlFile1" name="ReportFile">
                                            @Html.ValidationMessage("ReportFileError", "", new { @class = "error" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-default prevBtn btn-lg" type="button">Prev</button>
                                <button class="btn btn-primary nextBtn btn-lg" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="row setup-content" id="step-3">
                        <div class="col-xs-12">
                            <div class="col-md-12">
                                <h3 class="text-center">Book an appointment</h3>
                                <div class="personal-details form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Date <sup>*</sup></label>
                                        <div class="col-sm-8">
                                            <div class='input-group' id='datetimepickerDate'>
                                                @Html.TextBoxFor(m => m.AppointmentDate, new
                                                {
                                                    @required = "required",
                                                    @class = "form-control",
                                                    @placeholder = "Select Appointment Date"
                                                })
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.AppointmentDate, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Time <sup>*</sup></label>
                                        <div class="col-sm-8">


                                            <select name="Time" class="form-control" required>
                                                <option value="09:00 AM">09:00 AM</option>
                                                <option value="09:45 AM">09:45 AM</option>
                                                <option value="10:30 AM">10:30 AM</option>
                                                <option value="11:15 AM">11:15 AM</option>
                                                <option value="12:00 PM">12:00 PM</option>
                                                <option value="12:45 PM">12:45 PM</option>
                                                <option value="01:30 PM">01:30 PM</option>
                                                <option value="02:15 PM">02:15 PM</option>
                                                <option value="03:00 PM">03:00 PM</option>
                                                <option value="03:45 PM">03:45 PM</option>
                                                <option value="04:30 PM">04:30 PM</option>
                                                <option value="05:15 PM">05:15 PM</option>
                                                <option value="06:00 PM">06:00 PM</option>
                                                <option value="06:45 PM">06:45 PM</option>
                                            </select>

                                            @*<div class='input-group' id='datetimepickerTime'>
                                                    @Html.TextBoxFor(m => m.Time, new
                                                    {
                                                        data_format = "HH:mm:ss PP",
                                                        @required = "required",
                                                        @class = "form-control",
                                                        @placeholder = "Select Visiting Time"
                                                    })
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-clock-o"></span>
                                                    </span>
                                                </div>*@

                                            @Html.ValidationMessageFor(m => m.Time, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group text-center terms">
                                        <label class="col-sm-12 checkbox-inline" style="width: 100%;">
                                            @*<input type="checkbox" id="inlineCheckbox20" value="option20">*@
                                            By clicking Submit you are agree to our
                                            @Html.ActionLink("Terms & Conditions", "TermsAndConditions", "Home")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-default prevBtn btn-lg" type="button">Prev</button>
                                <button class="btn btn-primary nextBtn btn-lg" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.MultiStep Form -->
    </div>
</div>

<div class="clearfix"></div>

@section scripts {
    <script src="~/Content/js/jquery.easing.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/form.js"></script>
}