﻿@model HabTalksMVC.Models.PaymentModel
@using HabTalksMVC.Utilities
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="~/Scripts/RazorPay.js"></script>

@section styles {
    <style>
        .razorpay-payment-button {
            /*margin-left: 48%;*/
            background-color: #9c0518;
            color: #fff;
            padding: 15px 20px 15px 20px;
            border-radius: 4px;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            border: transparent;
            letter-spacing: 1px;
        }
    </style>
}
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                @using (Html.BeginForm("MakePayment", "Register", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.PlanCharges)
                    @Html.HiddenFor(m => m.ClientId)
                    @Html.HiddenFor(m => m.SelectedPlan)

                    <h1>Thank you for selecting plan.</h1>
                    <p>
                        You have selected Plan @Model.PlanCharges.
                        Please check again,
                        and press the button to proceed to the Payment page.
                    </p>

                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="@GlobalClass.RazorPayApiKey"
                            data-amount=@Model.PlanCharges
                            data-name="HabTalks"
                            data-description="Payment to HabTalks"
                            data-order_id=@Model.OrderId
                            data-image="../images/Logo.png"
                            data-prefill.name=@Model.UserName
                            data-prefill.email=@Model.UserEmail
                            data-prefill.contact=@Model.UserContact
                            data-theme.color="#F37254"></script>
                    <input type="hidden" value="Hidden Element" name="hidden" />
                }
            </div>
        </div>
    </div>
</div>