﻿@model HabTalksMVC.Models.PaymentModel

@{
    ViewBag.Title = "Viewdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="~/Scripts/RazorPay.js"></script>

<!-- /.navigation -->
<div class="page-header">
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li class="active">Plans</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row page-section">
            <!-- page section -->
            <div class="col-md-12 page-description">
                <!-- page description -->
                <h1 class="page-title">Plans</h1>
            </div>
            <!-- page description -->
        </div>
        <!-- page section -->
    </div>
</div>

<div class="section-space">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 section-title text-center">
                <h1>The Average Cost of Care</h1>
                <p class="lead">Don't hesitate to take our free online needs appraisal to assess your necessities and the quantity of hours you may require.</p>
            </div>
        </div>
        <div class="row price-block">
            @using (Html.BeginForm("StartPayment", "Register", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.UserEmail)
                @Html.HiddenFor(m => m.UserContact)
                @Html.HiddenFor(m => m.ClientId)
                foreach (var item in Model.rehabPlan)
                {
                    <div class="col-md-4 pricing-block">
                        <div class="pricing-inner">
                            <div class="pricing-head">
                                <div class="price-box">
                                    <h1 class="price">
                                        <span class="price-sign">₹</span>
                                        @{
                                            string strPlanCharges = item.PlanCharges.ToString("F0");
                                        }
                                        @Html.DisplayFor(model => strPlanCharges)
                                    </h1>
                                </div>
                                <h4 class="pricing-title">
                                    @Html.DisplayFor(model => item.PlanName)
                                </h4>
                                <p>
                                    @Html.DisplayFor(model => item.PlanDescription)
                                </p>
                                <button class="btn btn-secondary btn-block" type="submit" value="@item.Id" name="SelectedPlan">
                                    Pay Now
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>