﻿@*@model Core.ClientBooking*@

@{
    ViewBag.Title = "ScheduleAppointment";
}

<!-- Calendly link widget begin -->
<link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
@*<input type="button" onclick="Calendly.showPopupWidget('https://calendly.com/triptinegi84/15min?name=@Model.Name&email=@Model.Email');return false;" />*@
<!-- Calendly link widget end -->
<div class="well" id="Appointment">
    <!-- Calendly inline widget begin
      @*<div class="calendly-inline-widget" data-url="https://calendly.com/supporthabtalks/45-minute-meeting?name=@Model.Name&email=@Model.Email&hide_event_type_details=1" style="min-width:320px;height:630px;"></div>
     <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>*@
      Calendly inline widget end -->
    <!-- Calendly inline widget begin-->

    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/triptinegi84/15min?name=@Model.Name&email=@Model.Email&hide_event_type_details=1" style="min-width:320px;height:630px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
</div>


<!-- Calendly badge widget begin -->
@*<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>*@
<script type="text/javascript">
    //Calendly.initBadgeWidget({
    //    url: 'https://calendly.com/triptinegi84/15min?hide_event_type_details=1',
    //    text: 'Schedule time with me',
    //    color: '#f2c1b6',
    //    textColor: '#100f0f',
    //    branding: true
    //});

    function isCalendlyEvent(e) {
        alert(e.data.event);
        return e.data.event &&
            e.data.event.indexOf('calendly') === 0;
    };

    window.addEventListener(
        'message',
        function (e) {
            if (isCalendlyEvent(e)) {
                alert(e.data.event);
                console.log(e.data);
            }
        }
    );
</script>
<!-- Calendly badge widget end -->
