@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello4cd1.eot?42632931');
  src: url('../fonts/fontello4cd1.eot?42632931#iefix') format('embedded-opentype'),
       url('../fonts/fontello4cd1.html?42632931') format('woff2'),
       url('../fonts/fontello4cd1.woff?42632931') format('woff'),
       url('../fonts/fontello4cd1.ttf?42632931') format('truetype'),
       url('../fonts/fontello4cd1.svg?42632931#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42632931#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-avatar:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-checked:before { content: '\e805'; } /* '' */
.icon-coffee-cup:before { content: '\e806'; } /* '' */
.icon-cursor-2:before { content: '\e807'; } /* '' */
.icon-document:before { content: '\e808'; } /* '' */
.icon-drugs-1:before { content: '\e809'; } /* '' */
.icon-drugs-2:before { content: '\e80a'; } /* '' */
.icon-drugs-3:before { content: '\e80b'; } /* '' */
.icon-drugs-4:before { content: '\e80c'; } /* '' */
.icon-envelope:before { content: '\e80d'; } /* '' */
.icon-first-aid-kit:before { content: '\e80e'; } /* '' */
.icon-left-arrow:before { content: '\e80f'; } /* '' */
.icon-list:before { content: '\e810'; } /* '' */
.icon-list-1:before { content: '\e811'; } /* '' */
.icon-medical-records:before { content: '\e812'; } /* '' */
.icon-medicine:before { content: '\e813'; } /* '' */
.icon-medicine-1:before { content: '\e814'; } /* '' */
.icon-notepad:before { content: '\e815'; } /* '' */
.icon-phone-call:before { content: '\e816'; } /* '' */
.icon-pill:before { content: '\e817'; } /* '' */
.icon-pill-1:before { content: '\e818'; } /* '' */
.icon-placeholder:before { content: '\e819'; } /* '' */
.icon-pills:before { content: '\e81a'; } /* '' */
.icon-pills-1:before { content: '\e81b'; } /* '' */
.icon-plus:before { content: '\e81c'; } /* '' */
.icon-close:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-speech-bubble:before { content: '\e81f'; } /* '' */
.icon-speech-bubble-24:before { content: '\e820'; } /* '' */
.icon-target:before { content: '\e821'; } /* '' */
.icon-telephone:before { content: '\e822'; } /* '' */
.icon-telephone-1:before { content: '\e823'; } /* '' */
.icon-telephone-2:before { content: '\e824'; } /* '' */
.icon-telephone-8:before { content: '\e825'; } /* '' */
.icon-wheelchair:before { content: '\e826'; } /* '' */
.icon-user-1:before { content: '\e827'; } /* '' */
.icon-sticker-4:before { content: '\e828'; } /* '' */
.icon-sticker:before { content: '\e829'; } /* '' */
.icon-user-2:before { content: '\e82a'; } /* '' */
.icon-heart-2:before { content: '\e82b'; } /* '' */
.icon-address-book-1:before { content: '\e82c'; } /* '' */
.icon-check-mark:before { content: '\e82d'; } /* '' */
.icon-star:before { content: '\e82e'; } /* '' */
.icon-like:before { content: '\e82f'; } /* '' */
.icon-heart:before { content: '\e830'; } /* '' */
.icon-edit:before { content: '\e831'; } /* '' */
.icon-question-2:before { content: '\e833'; } /* '' */