﻿@model Core.ClientBooking
@{
    ViewBag.Title = "YourProfile";
}

<div class="well">
    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
    {
        <div class="well">
            <div class="form-group row">
                <label for="inputPainArea" class="col-sm-12 col-form-label">Select the area of pain(s)</label>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineElbow" value="Elbow">
                        Elbow
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineFoot" value="Foot">
                        Foot/ankle
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineHead" value="Head">
                        Head/Neck
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineHip" value="Hip">
                        Hip
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineKnee" value="Knee">
                        Knee
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineLowBack" value="LowBack">
                        Low Back
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineMidBack" value="MidBack">
                        Mid Back
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineShoulder" value="Shoulder">
                        Shoulder
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineWrist" value="Wrist">
                        Wrist/Hand
                    </label>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDOB" class="col-sm-3 col-form-label">BirthDate</label>
                <div class="col-sm-9">
                    <div class='input-group' id='datetimepicker1'>
                        <input type="text" class="form-control" id="inputDOB" placeholder="DOB">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputGender" class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Female
                    </label>

                    <label class="radio-inline">
                        <input type="radio" name="optradio">Male
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMobile" class="col-sm-3 col-form-label">Mobile</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputmobile" placeholder="mobile">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email address</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="EmailInput1" placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputWeight" class="col-sm-3 col-form-label">Weight</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputWeight" placeholder="Weight">
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="Weight" id="Weight">
                        <option value="">KG</option>
                        <option value="Active Life">LBS</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputHeight" class="col-sm-3 col-form-label">Height</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputHeight" placeholder="Height">
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="Height" id="Height">
                        <option value="">FEET</option>
                        <option value="Active Life">INCHES</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputHeight" class="col-sm-3 col-form-label">Activity Level</label>
                <div class="col-sm-9">
                    <select class="form-control" name="activeLevel" id="activeLevel">
                        <option value="">-Select-</option>
                        <option value="Active Life">Active Life</option>
                        <option value="Athletic">Athletic</option>
                        <option value="Minimal">Minimal</option>
                        <option value="Moderate">Moderate</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputProfession" class="col-sm-3 col-form-label">Profession</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputProfession" placeholder="Profession">
                </div>
            </div>
            <div class="form-group row">
                <label for="FormControlFile1" class="col-sm-3 col-form-label">Upload reports</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control-file" id="FormControlFile1">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineElbow" value="Elbow">
                    I agree to the <a href="#">terms and conditions</a>
                </label>
            </div>
        </div>


        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })

        @Html.TextBoxFor(model => model.Profession, new { @class = "form-control", @placeholder = "Profession" })

        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
    }
</div>


